body {
  overflow: hidden;
}
.container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

span {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
}

.btn:hover {
  background-color: black;
  color: #fff;
}
